.page-list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
}

@media (min-width: 350px) {
    .page-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 641px) {
    .page-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}