@page "/"

<PageTitle>Božani!!!</PageTitle>

<h1>Božani!!!</h1>

<div class="page-list">
	<a href="/textAnalyzer" class="btn btn-primary">
		<span class="bi bi-search"></span> Text Analyzer
	</a>

	<a href="/anagrammer" class="btn btn-primary">
		<span class="bi bi-book-fill"></span> Anagrammer
	</a>
</div>