@page "/textAnalyzer"
@using BozaniBlazor.Common.Extensions
@using BozaniBlazor.TextAnalyzers
@rendermode InteractiveServer

<PageTitle>Text Analyzer - Božani!!!</PageTitle>

<h1>Text Analyzer</h1>

<div class="d-flex flex-column gap-3">
    <textarea class="form-control" rows="5" @bind="text"></textarea>

    <div class="d-flex flex-column flex-md-row align-items-md-center gap-md-1">
        <label for="occurence">Check for occurence:</label>
        <input type="text" id="occurence" class="form-control w-auto" @bind="occurence"/>
    </div>

    <button class="btn btn-primary align-self-md-start" @onclick="Analyze">Analyze Text</button>

    <table style="max-width: 100vw" class="table">
        <thead>
        <tr>
            <th >Header</th>
            <th >Data</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var result in results)
        {
            <tr>
                <td>@result.Header</td>
                <td>@result.Data</td>
            </tr>
        }
        </tbody>
    </table>
</div>



@code {
    private string text = "";
    private string occurence = "";
    private List<TextAnalysisResult> results = [];

	private void Analyze()
    {
        var analyzers = new TextAnalyzersFactory().Create();
        if(occurence.Length > 0)
            analyzers.Add(new FindWordsTextAnalyzer(occurence));

        foreach (var item in text.RemoveSpecialCharModifiers())
        {
            foreach (var textAnalyzer in analyzers)
            {
                textAnalyzer.Process(item);
            }
        }

        results = analyzers.Select(x => x.GetResult()).ToList();
    }

}